body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}



.homepage-back{background-image:url("hitchhiker.png");}

.title-img{background-image: url("hitchhiker_title.png");background-repeat: no-repeat;padding-top: 168px;font-weight:bold;font-size:42px;height: 10%;width:70%;float:left;color:white;position: fixed;float: left}

#homepage-title{background-image: url("hitchhiker_title.png");background-repeat: no-repeat;padding-top: 68px;font-weight:bold;font-size:42px;height: 16%;width:100%;float:left;text-align:right;color:white;position: fixed;float: left; box-shadow:0 0 30px rgba(1,1,1,1.5)}

.menu{

    position: relative;
    top: 200px;
    left: 0%;
    height: 80%;
    width: 15%;
    overflow: auto;
    box-shadow:0 0 30px rgba(1,1,1,1.5),inset 0 0 5000px rgba(255,194,153,1.5)}
}

.trans-div{
	padding: 5px;
	font-weight:bold;
	font-size:x-large;
	position: fixed;
	color:white;
	top:50%;
	left: 1%;
	right:30%;
	float: left;
	overflow: auto;
	box-shadow:0 0 30px rgba(1,1,1,0.5)
}


#page1{padding: 5px;font-weight:bold;font-size:large; width: 15%;
    color:gray;
    padding-left:35px;
    padding-right:35px;
    padding-top:20px;
    position: fixed;
    top: 170px;
    left: 18%;
    right: 10%;
    height: 100%;
    width: 80%;
    overflow: auto;
    box-shadow:0 0 30px rgba(1,1,1,1.5),inset 0 0 5000px rgba(255,194,153,1.5)
	}

fieldset, img {border:0}



ol, ul, li {list-style:none}



:focus {outline:none}



body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}



p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}


h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;


text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}




.testbox {
 position: fixed;right:1%;top:20%; margin: 20px auto;
  width: 343px; 
  height: 390px;-webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}



#signup.testbox {
 position: fixed;right:1%;top:20%;
  margin: 20px auto;
  width: 343px; 
  height: 420px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}



input[type=radio] {
  visibility: hidden;
}



form{
  margin: 0 30px;
}



label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}



label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}



label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	heighSignupt: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}



input[type=text],input[type=password],input[type=email],input[type=number]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-right: 15px;
  margin-top: 13px; 
  padding-left: 10px;
}


input[type=time]{
  width: 110px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-right: 15px;
  margin-top: 13px; 
  padding-left: 4px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}



.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}



.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}



a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: none;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #ff4000; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px hsl(12, 100%, 50%,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

input.button {
  font-size: 14px;
  font-weight: 600;
  color: white;margin: 10px 8px 20px 0px;
  display: inline-block;
  float: none;
  text-decoration: none;
  width: 100px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #ff4000; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px hsl(12, 100%, 50%,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}





input.button:hover {
  top: 3px;
  background-color:#ff3300;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}





a.button:hover {
  top: 3px;
  background-color:#ff3300;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}





ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 18%;
    background-color: #ffb380;
    position: fixed;
    top: 170px;
    bottom: 20px;
    height: 100%;
    overflow: auto;
    box-shadow:0 0 30px rgba(1,1,1,0.5)
}

li a {
    display: block;
    color: black;
    padding: 25px 25px;
    text-decoration: none;
	
}

li a.active {
    background-color: #ff8533;
    color: white;
}

li a:hover:not(.active) {
    background-color: #cc5200;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:white;
}

td, th {
    border: 1px solid #ffb380;
    text-align: left;
  
    padding: 8px;
}

tr:first-child {
    background-color: #ff9933;
}
